@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900");
body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #000;
  background-image: url("../img/background/background.png");
  background-size: cover;
  margin: 0;
}

.btn {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right top, from(#f9236e), to(#f92346));
  background: linear-gradient(to right, #f9236e, #f92346);
  border-radius: 0;
  margin-top: 18px;
}

.top-banner {
  width: 100%;
  height: 74px;
  background-image: url("../img/top_banner.png");
  background-size: cover;
}

.top-banner .top-banner-text {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}

.top-banner .btn-close {
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  font-weight: 800;
}

.main-banner {
  height: 901.85px;
  background-image: url("../img/main_banner/main_banner.png");
  background-size: cover;
}

.main-banner .caption {
  position: absolute;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 380px;
  right: 45%;
}

.main-banner .caption p {
  max-width: 512px;
  margin-top: 35px;
}

.main-banner .title {
  font-size: 103.4px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -8px;
}

.main-banner .title .number {
  font-size: 43px;
  color: #222222;
  line-height: 1;
  letter-spacing: 77px;
  text-align: end;
}

.top-navation-bar {
  position: absolute;
  top: 74px;
  width: 100%;
  color: #222222;
  background-color: rgba(255, 255, 255, 0.6);
}

.top-navation-bar .row {
  padding: 14px 0;
}

.top-navation-bar .border-bottom {
  border-bottom: #565e61 solid 1px;
}

.top-navation-bar .border-bottom .language {
  text-align: right;
  font-weight: 800;
}

.top-navation-bar .border-bottom .language span {
  padding-left: 20px;
}

.top-navation-bar .logo {
  font-size: 22px;
  font-weight: 900;
  line-height: 1;
}

.top-navation-bar .menu a {
  color: #222222;
  font-weight: bold;
  margin-left: 15px;
}

.top-navation-bar .menu-icon i {
  font-size: 20px;
  margin-left: 25px;
}

.banner-feature {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 3;
  background-color: #fff;
  margin-top: -52px;
}

.banner-feature .sql-service {
  margin-top: -45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner-feature .sql-service .item {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #000;
}

.banner-feature .sql-service .item .icon {
  color: #5b5b5b !important;
  font-size: 36px;
  width: 108px;
  height: 108px;
  background-color: #fff;
  border-radius: 50%;
  padding: 27px;
  margin: auto;
}

.banner-feature .sql-service .item .title {
  font-size: 26px;
  font-weight: 900;
  margin: -20px 0 0 0;
}

.banner-feature .product-banner {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-feature .product-banner .banner {
  width: 535px;
  height: 292px;
  margin-left: 18px;
  margin-right: 18px;
  background-color: #d7eff9;
}

.banner-feature .product-banner .banner img {
  height: 100%;
  width: auto;
  float: right;
}

.banner-feature .product-banner .banner .caption {
  position: absolute;
  max-width: 229px;
  margin: 45px;
  color: #494949;
}

.banner-feature .product-banner .banner .caption .title {
  font-size: 48.34px;
  font-weight: 800;
  letter-spacing: -4px;
  line-height: 1;
}

.banner-feature .product-banner .banner .caption p {
  margin-top: 20px !important;
}

.banner-feature .featured-product {
  text-align: center;
  margin-top: 110px;
}

.banner-feature .featured-product .heading p {
  font-size: 25.83px;
  font-weight: 900;
}

.banner-feature .featured-product .carousel {
  margin-top: 25px;
  margin-left: -10px;
  margin-right: -10px;
}

.banner-feature .featured-product .carousel .carousel-inner .carousel-item {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 262px;
  text-align: center;
}

.banner-feature .featured-product .carousel .carousel-inner .carousel-item .title {
  font-size: 18px;
  margin-top: 28px;
  margin-bottom: 0;
}

.banner-feature .featured-product .carousel .carousel-inner .carousel-item i {
  color: #ffc808;
}

.banner-feature .featured-product .carousel .carousel-inner .carousel-item .real {
  color: #6b6b6b;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.banner-feature .featured-product .carousel .carousel-inner .carousel-item .sale {
  font-size: 18px;
  font-weight: 800;
}

.banner-feature .featured-product .carousel .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
  display: block;
}

.banner-feature .featured-product .carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
+ .carousel-item
+ .carousel-item
+ .carousel-item {
  -webkit-transition: none;
  transition: none;
}

.banner-feature .featured-product .carousel .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
  position: absolute;
  top: 0;
  right: -25%;
  z-index: -1;
  display: block;
  visibility: visible;
}

.banner-feature .featured-product .carousel .nav-control {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-feature .featured-product .carousel .nav-control .carousel-control-prev,
.banner-feature .featured-product .carousel .nav-control .carousel-control-next {
  position: unset;
  background-color: #cacaca;
  opacity: 1;
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 3px;
}

.banner-feature .featured-product .carousel .nav-control .carousel-control-prev:hover,
.banner-feature .featured-product .carousel .nav-control .carousel-control-next:hover {
  background-color: #f92357;
}

.banner-feature .featured-product .carousel .nav-control .carousel-item-next.carousel-item-left
+ .carousel-item
+ .carousel-item
+ .carousel-item
+ .carousel-item {
  position: relative;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  visibility: visible;
}

.banner-feature .featured-product .carousel .nav-control .carousel-item-prev.carousel-item-right
+ .carousel-item
+ .carousel-item
+ .carousel-item
+ .carousel-item {
  position: relative;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  visibility: visible;
  display: block;
  visibility: visible;
}

.latest-news {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 185px;
  background-image: url("../img/bg.png");
  background-size: cover;
}

.latest-news .heading {
  margin-bottom: 50px;
}

.latest-news .heading p {
  font-size: 25.83px;
  font-weight: 900;
}

.latest-news .item {
  background-color: #fff;
  text-align: left;
  font-size: 14px;
}

.latest-news .item img {
  width: 100%;
}

.latest-news .item .content {
  padding: 30px;
}

.latest-news .item .content .title {
  color: #515151;
  font-size: 18px;
  font-weight: 800;
}

.latest-news .item .content .sub-title {
  color: #a8a8a8;
}

.latest-news .item .content .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product-section {
  background-color: #fff;
  margin-top: -105px;
  padding-top: 50px;
  padding-bottom: 55px;
}

.product-section .latest-and-hot {
  margin: 0 32px 37px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #c2c2c2;
}

.product-section .latest-and-hot .left-side,
.product-section .latest-and-hot .right-side {
  width: 358px;
}

.product-section .latest-and-hot .left-side .item,
.product-section .latest-and-hot .right-side .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: solid 1px #c2c2c2;
}

.product-section .latest-and-hot .left-side .item .content,
.product-section .latest-and-hot .right-side .item .content {
  margin-left: 30px;
}

.product-section .latest-and-hot .left-side .item .content i,
.product-section .latest-and-hot .right-side .item .content i {
  color: #ffc808;
}

.product-section .latest-and-hot .left-side .item .title,
.product-section .latest-and-hot .right-side .item .title {
  font-size: 18px;
}

.product-section .latest-and-hot .left-side .sale,
.product-section .latest-and-hot .right-side .sale {
  color: #f92349;
}

.product-section .latest-and-hot .left-side .out-brand,
.product-section .latest-and-hot .right-side .out-brand {
  width: 100%;
  font-size: 25.83px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
}

.product-section .subcrise {
  margin-top: 78px;
  text-align: center;
}

.product-section .subcrise .heading p {
  font-size: 25.83px;
  font-weight: 900;
}

.product-section .subcrise .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 38px;
}

.product-section .subcrise input {
  height: 31px;
  width: 527px;
  margin-right: 5px;
}

.brand-logo {
  position: absolute;
  width: 100%;
  background-color: #eeeeee;
  margin-top: -85px;
  z-index: -1;
}

.footer {
  background-image: url("../img/footer.png");
  background-size: cover;
  color: #fff;
}

.footer .title {
  font-size: 16px;
  font-weight: 800;
  padding-top: 78px;
}

.footer .payment-card i {
  margin-right: 6px;
  font-size: 24px;
  opacity: 0.6;
}

.footer i {
  margin-right: 15px;
}

.footer p {
  font-size: 15px;
}

.footer .bottom-text {
  margin: 65px 0 100px 0;
  text-align: center;
  width: 100%;
}

.footer .bottom-text a {
  color: #fff;
  margin-right: 30px;
}
/*# sourceMappingURL=style.css.map */