@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900");

// Biến màu
$pink: rgb(249, 35, 111);
$black-title: rgb(34, 34, 34);
$gradien-pink: linear-gradient(to right, rgb(249, 35, 110), rgb(249, 35, 70));

@mixin font($size, $weight) {
    font: {
        size: $size;
        weight: $weight;
    }
}
@mixin btn-tron($kt, $bg) {
    width: $kt;
    height: $kt;
    background-color: $bg;
    border-radius: 50%;
    text-align: center;
    line-height: $kt;
}
@mixin ab-center($index) {
    position: absolute;
    right: 0;
    left: 0;
    z-index: $index;
}

body {
    font: {
        family: Montserrat, sans-serif;
        size: 14px;
    }
    color: rgb(0, 0, 0);
    background: {
        image: url("../img/background/background.png");
        size: cover;
    }
    margin: 0;
}
.btn {
    color: #fff;
    @include font(12px, bold);
    background: $gradien-pink;
    border-radius: 0;
    margin-top: 18px;
}
.top-banner {
    width: 100%;
    height: 74px;
    background: {
        image: url("../img/top_banner.png");
        size: cover;
    }
    .top-banner-text {
        @include font(17px, bold);
        color: #fff;
    }
    .btn-close {
        @include btn-tron(34px, #fff);
        font-weight: 800;
    }
}
.main-banner {
    height: 901.85px;
    background: {
        image: url("../img/main_banner/main_banner.png");
        size: cover;
    }
    .caption {
        position: absolute;
        text-align: center;
        width: fit-content;
        top: 380px;
        right: 45%;
        p {
            max-width: 512px;
            margin-top: 35px;
        }
    }
    .title {
        @include font(103.4px, 800);
        line-height: 1;
        letter-spacing: -8px;
        .number {
            font-size: 43px;
            color: $black-title;
            line-height: 1;
            letter-spacing: 77px;
            text-align: end;
        }
    }
}
.top-navation-bar {
    position: absolute;
    top: 74px;
    width: 100%;
    color: $black-title;
    background-color: rgba(255, 255, 255, 0.6);
    .row {
        padding: 14px 0;
    }
    .border-bottom {
        border-bottom: rgb(86, 94, 97) solid 1px;
        .language {
            text-align: right;
            font-weight: 800;
            span {
                padding-left: 20px;
            }
        }
    }
    .logo {
        @include font(22px, 900);
        line-height: 1;
    }
    .menu a {
        color: $black-title;
        font-weight: bold;
        margin-left: 15px;
    }
    .menu-icon i {
        font-size: 20px;
        margin-left: 25px;
    }
}
.banner-feature {
    @include ab-center(3);
    background-color: #fff;
    margin-top: -52px;
    .sql-service {
        margin-top: -45px;
        display: flex;
        justify-content: space-around;
        .item {
            text-align: center;
            width: fit-content;
            color: #000;
            .icon {
                color: rgb(91, 91, 91) !important;
                font-size: 36px;
                width: 108px;
                height: 108px;
                background-color: #fff;
                border-radius: 50%;
                padding: 27px;
                margin: auto;
            }
            .title {
                @include font(26px, 900);
                margin: -20px 0 0 0;
            }
        }
    }
    .product-banner {
        margin-top: 110px;
        display: flex;
        .banner {
            width: 535px;
            height: 292px;
            margin-left: 18px;
            margin-right: 18px;
            background-color: rgb(215, 239, 249);
            img {
                height: 100%;
                width: auto;
                float: right;
            }
            .caption {
                position: absolute;
                max-width: 229px;
                margin: 45px;
                color: rgb(73, 73, 73);
                .title {
                    @include font(48.34px, 800);
                    letter-spacing: -4px;
                    line-height: 1;
                }
                p {
                    margin-top: 20px !important;
                }
            }
        }
    }
    .featured-product {
        text-align: center;
        margin-top: 110px;
        .heading {
            p {
                @include font(25.83px, 900);
            }
        }
        .carousel {
            margin: {
                top: 25px;
                left: -10px;
                right: -10px;
            }
            .carousel-inner {
                .carousel-item {
                    margin: {
                        left: 10px;
                        right: 10px;
                    }
                    max-width: 262px;
                    text-align: center;
                    .title {
                        font-size: 18px;
                        margin: {
                            top: 28px;
                            bottom: 0;
                        }
                    }
                    i {
                        color: rgb(255, 200, 8);
                    }
                    .real {
                        color: rgb(107, 107, 107);
                        text-decoration-line: line-through;
                    }
                    .sale {
                        @include font(18px, 800);
                    }
                }
                .active + .carousel-item + .carousel-item + .carousel-item {
                    display: block;
                }
                .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
                    + .carousel-item
                    + .carousel-item
                    + .carousel-item {
                    transition: none;
                }
                .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
                    position: absolute;
                    top: 0;
                    right: -25%;
                    z-index: -1;
                    display: block;
                    visibility: visible;
                }
            }
            .nav-control {
                text-align: center;
                margin: {
                    top: 55px;
                    bottom: 40px;
                }
                display: flex;
                justify-content: center;
                .carousel-control-prev,
                .carousel-control-next {
                    position: unset;
                    background-color: rgb(202, 202, 202);
                    opacity: 1;
                    padding: 8px;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    margin: 3px;
                }

                .carousel-control-prev:hover,
                .carousel-control-next:hover {
                    background-color: rgb(249, 35, 87);
                }
                .carousel-item-next.carousel-item-left
                    + .carousel-item
                    + .carousel-item
                    + .carousel-item
                    + .carousel-item {
                    position: relative;
                    transform: translate3d(-100%, 0, 0);
                    visibility: visible;
                }
                .carousel-item-prev.carousel-item-right
                    + .carousel-item
                    + .carousel-item
                    + .carousel-item
                    + .carousel-item {
                    position: relative;
                    transform: translate3d(100%, 0, 0);
                    visibility: visible;
                    display: block;
                    visibility: visible;
                }
            }
        }
    }
}
.latest-news {
    text-align: center;
    padding: {
        top: 130px;
        bottom: 185px;
    }
    background: {
        image: url("../img/bg.png");
        size: cover;
    }
    .heading {
        margin-bottom: 50px;
        p {
            @include font(25.83px, 900);
        }
    }
    .item {
        background-color: #fff;
        text-align: left;
        font-size: 14px;
        img {
            width: 100%;
        }
        .content {
            padding: 30px;
            .title {
                color: rgb(81, 81, 81);
                @include font(18px, 800);
            }
            .sub-title {
                color: rgb(168, 168, 168);
            }
            .action {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
    }
}
.product-section {
    background-color: #fff;
    margin-top: -105px;
    padding: {
        top: 50px;
        bottom: 55px;
    }
    .latest-and-hot {
        margin: 0 32px 37px 32px;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px rgb(194, 194, 194);
        .left-side,
        .right-side {
            width: 358px;
            .item {
                display: flex;
                padding: {
                    bottom: 20px;
                    top: 20px;
                }
                border-bottom: solid 1px rgb(194, 194, 194);
                .content {
                    margin-left: 30px;
                    i {
                        color: rgb(255, 200, 8);
                    }
                }
                .title {
                    font-size: 18px;
                }
            }
            .sale {
                color: rgb(249, 35, 73);
            }
            .out-brand {
                width: 100%;
                @include font(25.83px, 800);
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }
    .subcrise {
        margin-top: 78px;
        text-align: center;
        .heading p {
            @include font(25.83px, 900);
        }
        .email {
            display: flex;
            justify-content: center;
            margin-top: 38px;
        }
        input {
            height: 31px;
            width: 527px;
            margin-right: 5px;
        }
    }
}
.brand-logo {
    position: absolute;
    width: 100%;
    background-color: rgb(238, 238, 238);
    margin-top: -85px;
    z-index: -1;
}
.footer {
    background: {
        image: url("../img/footer.png");
        size: cover;
    }
    color: #fff;
    .title {
        font: {
            size: 16px;
            weight: 800;
        }
        padding-top: 78px;
    }
    .payment-card i {
        margin-right: 6px;
        font-size: 24px;
        opacity: 0.6;
    }
    i {
        margin-right: 15px;
    }
    p {
        font-size: 15px;
    }
    .bottom-text {
        margin: 65px 0 100px 0;
        text-align: center;
        width: 100%;
    }
    .bottom-text a {
        color: #fff;
        margin-right: 30px;
    }
}
